body {
	background: url('../img/space2.jpg');
	font-family: 'Source Sans Pro', sans-serif;
}

.header {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	border-radius: 50px;
	margin-left: 150px;
	margin-right: 150px;
	padding: 10px;
	background-color: #434345;
	color: rgb(0, 0, 0);

	transition: color .5s linear;
}

.header a:hover {
	color:rgb(129, 129, 129)
}

.header a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

.nav_bar {
	display: flex;
	align-items:center;
}


.header_item {
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 5px;
}

.text_contant {
	font-size: 24px;
	padding: 40px;
}

.text_bg {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
}

.text_block_1 {
	box-shadow: 0 0 10px rgb(17, 17, 18);
	color: rgb(0, 0, 0);
	background: rgb(184, 145, 68);

	margin: 150px 150px 150px 150px;
	padding: 10px 10px 10px 10px;
}

.text_block_2 {
	box-shadow: 0 0 10px rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	background: rgb(184, 145, 68);
	margin: 150px 150px 150px 150px;
	padding: 10px 10px 10px 10px;
}

.text_block_3 {
	box-shadow: 0 0 10px rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	background: rgb(184, 145, 68);
	margin: 150px 150px 150px 150px;
	padding: 10px 10px 10px 10px;
}

.header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	background:rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	animation-name: show_header;
	animation-duration: 1s;
	box-shadow: 0 0 10px rgb(0, 4, 255);
}

.header_fixed a {
	color: rgb(255, 255, 255);
}

@keyframes show_header {
	0%{
		opacity: 0;
		top: -70px;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}